<div id="wrapper">

  <%=render template: "shared/nav_dashboard"%>

  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
  <div id="page-content-wrapper">

    <div class="row">
      <div class="col-xs-12 icon-nav-profile">
        <a id="menu-toggle">
          <i class="fa fa-bars fa-2x" aria-hidden="true"></i>
        </a>
      </div>
      <div class="container form-center">
        <div class="row">
          <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-form">
              <div class="panel-heading">
                <div class="row">
                  <div class="col-xs-12 text-center">
                    <a href="#" class="active" id="register-form-link">Editar mi perfil</a>
                  </div>
                </div>
                <hr>
              </div>
              <div class="panel-body">
                <div class="row">
                  <div class="col-lg-12">

                    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
                    <%= devise_error_messages! %>

                    <div class="form-group">
                      <%= f.label :email %><br/>
                      <%= f.email_field :email, autofocus: true, :class => "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :first_name %><br/>
                      <%= f.text_field :first_name, autofocus: true, :class => "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :last_name %><br/>
                      <%= f.text_field :last_name, autofocus: true, :class => "form-control" %>
                    </div>

                    <div class="form-group">
                      <%= f.label :avatar %>
                      <%= f.file_field :avatar, :class => "form-control" %>
                      <%= f.hidden_field :avatar_cache %>
                    </div>

                    <% if current_user.avatar.url.present? %>
                      <%= image_tag(current_user.avatar.thumb.url) %>
                      <%= f.label :remove_avatar do %>
                      <%= f.check_box :remove_avatar, :class => "form-control" %>
                    <% end %>
                  <% end %>

                  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
                    <div>Currently waiting confirmation for:
                      <%= resource.unconfirmed_email %></div>
                  <% end %>

                  <div class="form-group">
                    <%= f.label :password %>
                    <i>(leave blank if you don't want to change it)</i><br/>
                    <%= f.password_field :password, autocomplete: "off", :class => "form-control" %>
                    <% if @minimum_password_length %>
                      <br/>
                      <em><%= @minimum_password_length %>
                        characters minimum</em>
                    <% end %>
                  </div>

                  <div class="form-group">
                    <%= f.label :password_confirmation %><br/>
                    <%= f.password_field :password_confirmation, autocomplete: "off", :class => "form-control"%>
                  </div>

                  <div class="form-group">
                    <%= f.label :current_password %>
                    <i>(necesitamos su contraseña actual para confirmar sus cambios)</i><br/>
                    <%= f.password_field :current_password, autocomplete: "off", :class => "form-control" %>
                  </div>

                  <div class="form-group">
                    <div class="row">
                      <div class="col-sm-6 col-sm-offset-3">
                        <%= f.submit "Editar", :class => "form-control btn btn-form" %>
                      </div>
                    </div>
                  </div>
                <% end %>

                <h3>Cancel my account</h3>

                <p>Unhappy?
                  <%= button_to "cancelar mi cuenta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

                <%= link_to "Back", :back %>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
</div>
