<div class="container form-center">
  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <div class="panel panel-form">
        <div class="panel-heading">
          <div class="row">
            <div class="col-xs-12">
              <a href="" class="active">Crea tu album</a>
            </div>
          </div>
          <hr>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-lg-12">
<%= form_with(model: album, local: true) do |f| %>
  <% if album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% album.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :name %>
    <%= f.text_field :name, id: :album_name,  :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :description %>
    <%= f.text_area :description, id: :album_description,  :class => "form-control" %>
  </div>

  <div class="form-group">
    <%= f.label :images %>
    <%= f.file_field :images, multiple: true,  :class => "form-control"  %>
    <%= f.hidden_field :images_cache %>
  </div>

  <div class="form-group">
    <div class="col-xs-12 text-center">
    <%= f.label :public %>
    </div>
    <%= f.check_box :public,  :class => "form-control" %>
  </div>


  <div class="form-group">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <%= f.submit "crear", :class => "form-control btn btn-form" %>
      </div>
    </div>
  </div>
<% end %>
        </div>
      </div>
    </div>
  </div>
