<!DOCTYPE html>
<html>
  <head>
    <title>Myphotoalbum</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  </head>

  <header>
    <%= render partial: "shared/navbar", flash: flash %>
  </header>
  <body>
    <%= flash_messages %>
    <%= yield %>
  </body>
</html>
